@model Blog.PLL.ViewModel.Post.PostViewModel

@{
    ViewData["Title"] = "Просмотр поста";
}

<div class="container mt-4">
    <h1>@Model.PostName</h1>
    <p class="text-muted mt-4">
        <strong class="text-lg">Автор поста:</strong> <span class="text-sm">@Model.User.FullName - @Model.User.Email</span>
    </p>
    <div class="card mt-3">
        <div class="card-body">
            <p class="card-text">@Model.PostContent</p>
        </div>
    </div>

    <h2 class="mt-4">Комментарии</h2>

    @foreach (var comment in Model.Comments)
    {
        <div class="card mt-3">
            <div class="card-body">
                <p class="text-muted">
                    <strong>@comment.User.FullName</strong> - <span class="small">@comment.User.Email</span>
                </p>
                <p class="card-text">@comment.Content</p>
            </div>
            @if (User.Identity.IsAuthenticated && User.FindFirst("Id").Value == comment.User.Id.ToString())
            {
                <div class="d-flex justify-content-end">
                    <button class="btn btn-sm btn-outline-primary mr-2" onclick="editComment(@comment.Id)">Редактировать</button>
                    <button class="btn btn-sm btn-outline-danger" onclick="confirmDelete(@comment.Id)">Удалить</button>
                </div>
            }

        </div>
    }
</div>

<script>
    function confirmDelete(commentId) {
        var result = confirm("Вы уверены, что хотите удалить этот комментарий?");

        if (result) {
            // Пользователь нажал "Да", отправляем запрос к API и обновляем страницу
            $.ajax({
                type: 'DELETE',
                CORS: true,
                url: '/api/comment/'.concat(commentId),  // Укажите правильный URL для вашего API
                success: function (data) {
                    window.location.reload();
                },
                error: function (error) {
                    console.error('Ошибка', error);
                }
            });
        }
    }

    function editComment(commentId) {
        window.location.href = '/Comment/Edit/'.concat(commentId);
    }

</script>