@model Blog.PLL.ViewModel.Post.PostShortViewModel

<div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">@Model.PostName</h5>
        <p class="card-text">@Model.PostContent</p>
        <p class="text-muted">
            <strong>Автор:</strong> @Model.UserFullName - <span class="small">@Model.UserEmail</span>
        </p>
        <div class="d-flex justify-content-between">
            <div>
                <strong>Количество комментариев:</strong> @Model.CommentsCount
            </div>
            <div>
                <!-- Добавляем кнопку "Перейти к посту" -->
                <a href="@Url.Action(null, "PostDetail", new { id = Model.Id })" class="btn btn-primary mr-2 btn-sm">Перейти к посту</a>

                @if (User.Identity.IsAuthenticated && User.FindFirst("Id").Value == Model.UserId.ToString())
                {

                    <a class="btn btn-sm btn-outline-primary mr-2" href="/PostDetail/Edit/@Model.Id">Редактировать</a>
                    <button class="btn btn-sm btn-outline-danger" onclick="deletePost(@Model.Id)">Удалить</button>

                }
            </div>
        </div>
        <div>
            <strong>Теги:</strong> @string.Join(", ", Model.Tags)
        </div>
    </div>
</div>


