@using Blog.Common.Enums;
@using System.Security.Claims;
@model Blog.PLL.ViewModel.Role.RoleCollectionViewModel
@{
    var isAdministrator = User.Identity.IsAuthenticated && User.FindAll(ClaimTypes.Role).Any(x => x.Value == RoleType.Administrator.ToString());
}
<div class="container mt-4">
    <h1>Список ролей</h1>
    @if(isAdministrator)
    {
    <div>
        <a href="@Url.Action("Add", "Role")" class="btn btn-primary">Добавить</a>
    </div>
    }
    @foreach (var role in Model.Roles)
    {
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
                <p class="text-muted">
                    <strong>Описание:</strong> @role.Description
                </p>
                <p class="text-muted">
                    <strong>Тип роли:</strong> @role.RoleType
                </p>
                <p class="text-muted">
                    <strong>Количество пользователей:</strong> @role.UserCount
                </p>
                @if (isAdministrator)
                {
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-sm btn-outline-primary mr-2" href="/Role/Edit/@role.Id">Редактировать</a>
                        <button class="btn btn-sm btn-outline-danger" onclick="deleteRole(@role.Id)">Удалить</button>
                    </div>
                }

            </div>
        </div>
    }
</div>