@using Blog.Core.Enums;
@using Blog.Core.Extensions;
@model Blog.ViewModel.Role.RoleViewModel;
@{
    ViewData["Title"] = "Редактирование роли";
}
<script>
    $(document).ready(function () {
        $('#RoleEditForm').submit(function (event) {
            event.preventDefault();

            var formData = {
                Id: $('#Id').val(),
                Name: $('#Name').val(),
                Description: $('#Description').val(),
                RoleType: Number($('#RoleType').val()),
            };

            $.ajax({
                type: 'PUT',
                CORS: true,
                url: '/api/role',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (data) {
                    window.location.href = '/role';
                },
                error: function (error) {
                    console.error('Ошибка', error);
                }
            });
        });
    });
</script>

<div class="container mt-4">
    <h1>Редактирование роли пользователя</h1>

    <form id="RoleEditForm">
        @* Защита от подделки межсайтовых запросов *@
        @Html.AntiForgeryToken()
        <input type="hidden" id="Id" name="Id" value="@Model.Id">

        <div class="form-group">
            <label for="Name">Название:</label>
            <input type="text" value="@Model.Name" class="form-control" id="Name" name="Name" required>
        </div>
        <div class="form-group">
            <label for="Description">Описание:</label>
            <textarea class="form-control" id="Description" name="Description" rows="4" required>@Model.Description</textarea>
        </div>
        <div class="form-group">
            <label for="RoleType">Тип роли:</label>
            <select class="form-control" value="@Model.RoleType" id="RoleType" name="RoleType" required>
                @foreach (RoleType roleTypeValue in Enum.GetValues(typeof(RoleType)))
                {
                    <option value="@((int)roleTypeValue)" @(Model.RoleType == roleTypeValue ? "selected" : "")>@roleTypeValue.ToDescription()</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>