@model Blog.PLL.ViewModel.User.UserViewModel

@{
    ViewData["Title"] = $"Профиль пользователя {Model.FullName}";
}

<div class="container mt-4">
    <h1>@Model.FullName</h1>

    <div class="card mt-3">
        <div class ="d-flex">
            @if (User.Identity.IsAuthenticated && User.FindFirst("id").Value == Model.Id.ToString())
            {
                <div>
                    <a href="/user/edit" class="btn btn-primary">Редактировать</a>
                </div>
            }
        </div>
        <div class="card-body">
            <p>
                <strong>Email:</strong> @Model.Email
            </p>
            <p>
                <strong>Возраст:</strong> @Model.Age
            </p>
            <p>
                <strong>Роли:</strong> <span class="font-weight-normal">@string.Join(", ", Model.Roles)</span>
            </p>
            <p>
                <strong>Количество комментариев:</strong> @Model.CommentsCount
            </p>
            <p>
                <strong>Количество постов:</strong> @Model.Posts.Count
            </p>
        </div>
    </div>

    <h2 class="mt-4">Посты пользователя</h2>

    @foreach (var post in Model.Posts)
    {
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">@post.PostName</h5>
                <p class="card-text">@post.PostContent</p>
                <p class="text-muted">
                    <strong>Автор:</strong> @post.UserFullName - <span class="small">@post.UserEmail</span>
                </p>
                <div class="d-flex justify-content-between">
                    <div>
                        <strong>Количество комментариев:</strong> @post.CommentsCount
                    </div>
                    <div>
                        <a href="@Url.Action(null, "PostDetail", new { id = post.Id })" class="btn btn-primary">Перейти к посту</a>
                    </div>
                </div>
                <div>
                    <strong>Теги:</strong> @string.Join(", ", post.Tags)
                </div>
            </div>
        </div>
    }

</div>