@using Blog.Core.Enums;
@model Blog.ViewModel.Post.PostViewModel

@{
    ViewData["Title"] = "Просмотр поста";
}

<div class="container mt-4">
    <h1>@Model.PostName</h1>
    <p class="text-muted mt-4">
        <strong class="text-lg">Автор поста:</strong> <span class="text-sm">@Model.User.FullName - @Model.User.Email</span>
    </p>
    <div class="card mt-3">
        <div class="card-body">
            <p class="card-text">@Model.PostContent</p>
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="mt-4">Комментарии</h2>
        @if (User.Identity?.IsAuthenticated ?? false)
        {
            <div>
                <a class="btn btn-sm btn-outline-primary mr-2" href="/comment/add/@Model.Id">Добавить комментарий</a>
                @if (User.FindFirst("Id").Value == Model.User.Id.ToString())
                {
                    <a class="btn btn-sm btn-outline-primary mr-2" href="/PostDetail/Edit/@Model.Id">Редактировать</a>
                    <button class="btn btn-sm btn-outline-danger" onclick="deletePost(@Model.Id)">Удалить</button>
                }
                else if (User.IsInRole(nameof(RoleType.Administrator)) || User.IsInRole(nameof(RoleType.Moderator)))
                {
                    <button class="btn btn-sm btn-outline-danger" onclick="deletePost(@Model.Id)">Удалить</button>
                }
            </div>
        }
    </div>

    @foreach (var comment in Model.Comments)
    {
        <div class="card mt-3">
            <div class="card-body">
                <p class="text-muted">
                    <strong>@comment.User.FullName</strong> - <span class="small">@comment.User.Email</span>
                </p>
                <p class="card-text">@comment.Content</p>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                @if (User.FindFirst("Id").Value == comment.User.Id.ToString())
                {
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-sm btn-outline-primary mr-2" href="/Comment/Edit/@comment.Id">Редактировать</a>
                        <button class="btn btn-sm btn-outline-danger" onclick="deleteComment(@comment.Id)">Удалить</button>
                    </div>
                }
                else if (User.IsInRole(nameof(RoleType.Administrator)) || User.IsInRole(nameof(RoleType.Moderator)))
                {
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-sm btn-outline-danger" onclick="deleteComment(@comment.Id)">Удалить</button>
                    </div>
                }
            }
        </div>
    }
</div>
